@import '../../scss/color.scss';

.cont {
  height: 27em;
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  background-image: linear-gradient(
    to bottom,
    $base-color-darker 0%,
    $base-color 10%,
    $base-color 90%,
    $base-color-darker
  );
  .nav {
    display: flex;
    justify-content: end;
  }
  .contTitle {
    .title {
      text-align: center;
      font-family: "Apocalypse Grunge";
      font-weight: normal;
      color: white;
      text-shadow: 0px 15px 10px $base-color-dark;
      height: 8em;
      .firstLetter {
        font-size: 6em;
      }
      .restWord {
        font-size: 4em;
      }
    }
    .subtitle {
      margin-bottom: 1em;
      text-align: center;
      font-family: 'Revalia Regular';
      color: white;
      font-weight: normal;
    }
  }
  .socialNetworks {
    text-align: center;
  }
}
