.cont {
  display: flex;
  flex-direction: column;
  .nav {
    display: flex;
    justify-content: end;
  }
  .conTitle {
    .title {
      text-align: center;
    }
    .subtitle {
      text-align: center;
    }
  }
  .socialNetworks {
    text-align: center;
  }
}
