$base-color: rgba(195, 56, 100, 1);
$base-color-darker: rgba(153, 44, 77, 1);
$base-color-dark: rgba(77, 22, 39, 0.8);

$gray-light: rgba(247, 247, 247, 1);
$gray-darken: rgba(157, 157, 157, 1);
$base-font: rgba(64, 64, 64, 1);
