@import "ress";

@font-face {
  font-family: 'Apocalypse Grunge';
  src: url('./apocalypse-grunge.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Revalia Regular';
  src: url('./revalia-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}