@import '../../scss/color.scss';

.list {
  .item {
    display: inline-block;
    list-style: none;
    .icon {
      display: inline-block;
      padding: 0.5vw 1vw;
      color: white;
      font-size: 1.6em;
      cursor: pointer;
    }
    .icon:hover {
      text-shadow: 0px 4px 4px $base-color-dark;
    }
  }
}
